# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "48bf40a29fdb5b63ff405fdb694a562f"
name = "MagicalCX"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_orders,read_customers,read_locations"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
